.headerNavContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navItem {
  height: 30px;
  border-radius: 4px;
  background: var(--gray-400);
}

.item60 {
  width: 60px;
}

.item50 {
  width: 50px;
}

.item80 {
  width: 80px;
}
