.headerNavContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.currency {
  min-width: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-md);
}
