* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  padding: 16px;
  background: #ffffff;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
