.taxChartContainer {
  padding: 20px;
  border-radius: 8px;
  background: var(--gray-300);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartCircle {
  background: var(--gray-400);
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
