.caseSettingsContainer {
  padding: 20px;
  border-radius: 8px;
  background: var(--gray-300);

  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.caseSettingsItem {
  width: 100%;
  height: 40px;
  padding-inline: var(--spacing-md);
  border-radius: 4px;
  background: var(--gray-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
