.caseSettingsContainer {
  padding: 20px;
  border-radius: 8px;
  background: var(--gray-300);

  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.caseSettingsItem {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: var(--gray-400);
}
